<div class="text-center">
  <h1>Registra tu cuenta y comparte los datos</h1>
  <p>Al registrarte obtendrás un <b>enlace único</b> que luego podrás compartir con quien quieras.</p>
</div>
<div class="panel-landing__form">
  <%= render "form" %>
</div>
