.application-layout {
  &__page {
    display: flex;
  }

  &__sidebar {
    width: 300px;
    padding-right: 30px;

    @media(max-width: 767px) {
      display: none;
    }
  }

  &__content {
    width: 100%;
  }

  &__help {
    width: 300px;
    padding-left: 30px;

    @media(max-width: 1024px) {
      display: none;
    }
  }

  &__nav {
    margin-bottom: 15px;
  }
}

$landing-layout-line-height: 100px;

.landing-layout {
  &__nav {
    margin-bottom: 15px;
    font-size: 18px;

    .navbar-default {
      min-height: $landing-layout-line-height;
      background-color: transparent;
      border: 0;
    }

    .nav > li > a {
      line-height: $landing-layout-line-height;
    }

    .navbar-brand {
      font-size: 40px;
      font-weight: bolder;
      line-height: $landing-layout-line-height;
      color: $site-blue;
    }
  }

  h1 {

  }
}
