.panel-devise,
.panel-landing {
  width: 100%;
  padding: 0 30px;
  margin-top: -170px;

  &__wrapper {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
  }
}

.panel-landing {
  margin-top: 0;

  &__form {
    max-width: 400px;
    margin: 50px auto;
  }
}
