/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap
 *= require components-font-awesome/css/font-awesome.min
 *= require_self
 */

// Variables
$site-soft-green: #f8fff8;
$site-dark-blue: #6886df;
$site-blue: #7799ff;
$site-soft-blue: #a4b9f9;

// Site config
$site-background-color: $site-soft-green;

@import "components/layouts";
@import "components/btn";
@import "components/callout";
@import "components/footer";
@import "components/panel";
@import "components/forms";

* {
  font-family: 'Poppins', sans-serif;
}

html {
  height: 100%;
}

body {
  min-height: 100%;

  &.no-scroll {
    height: 100%;
  }
}

.nav-tabs > li {
  margin-bottom: -2px;
}

h1,h2,h3,h4,h5,h6 {
  color: $site-blue;
}

p {
  color: #808080;
}
