<!DOCTYPE html>
<html>
<head>
  <title>CtaLy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%  google_webfonts_init({ google: ['Nunito', 'Oxygen'] }) %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
