<%= render 'nav' %>
<%= render 'form' %>
<% content_for :help do %>
  <div class="callout callout-info">
    <h4>Crear cuenta</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore provident dicta, reprehenderit, atque nobis corporis nam quisquam obcaecati harum adipisci facere fugiat illum commodi vel soluta dolor ab consequuntur minima!</p>
  </div>
<% end %>
